{% extends "base.html.twig" %}

{% block content_title %}
    Contact Info
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h2 class="text-center">Contact us at: <a href="{{ CONFIG_VIEW.link.help }}" target="_blank">Proxy Support</a></h2>
    </div>
</div>
{% endblock %}